<!--caminho para achar o partials -->
<%- include('partials/hearder.ejs') %>
<body>
  <!--caminho para achar o partials -->
  <%- include('partials/navbar.ejs') %>
  <!--Titulo e inicio do formulario de entrada-->
  <div class="container">
    <div class="card" id="formulario-entrada">
      <div class="card-hearder">
        <h2 style="margin: 20px">Formulário de Entrada</h2>
      </div>
      <div class="card-body">
        <!--Inicio do formulario-->

        yyh
        <form method="post" action="/salvarformulario">
          <label>Número do Chamado</label>
          <input
            type="text"
            placeholder="ID"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label>Hora do Chamado</label>
          <input
            type="text"
            placeholder="Hora do chamado"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label>Solicitante</label>
          <input
            type="text"
            placeholder="Nome do solicitante"
            class="form-control"
            name="solicitante"
            style="width: 500px"
          />

          <label>Técnico Atribuído</label>
          <input
            type="text"
            placeholder="Técnico atribuído"
            class="form-control"
            name="tecAtribuido"
            style="width: 500px"
          />
          <label>Técnico 2</label>
          <input
            type="text"
            placeholder="Técnico 2"
            class="form-control"
            name="tec2"
            style="width: 500px"
          />

          <label>Localização</label>
          <input
            type="text"
            placeholder="Setor"
            class="form-control"
            name="setor"
            style="width: 500px"
          />

          <label>GATI</label>
          <input
            type="text"
            placeholder="GATI do equipamento"
            class="form-control"
            name="gati"
          />

          <label>Fornecedor</label>
          <div class="col-3">
            <select
              class="btn btn-info dropdown-toggle"
              aria-label="Fornecedor"
              name="equipamento"
            >
              <option selected disabled>Selecione</option>
              <option value="1">HEGV</option>
              <option value="2">Locado</option>
              <option value="3">Terceirizado</option>
            </select>
          </div>

          <button onclick="buscarDataHora()" class="btn btn-info">
            Data e Hora Atual
          </button>
          <p id="dataHora"><%= data %> <%= hora %></p>

          <script>
            function buscarDataHora() {
              fetch('/data-hora')
                .then(response => response.text())
                .then(html => {
                  const parser = new DOMParser();
                  const newDoc = parser.parseFromString(html, 'text/html');
                  const newDataHora =
                    newDoc.getElementById('dataHora').innerHTML;
                  document.getElementById('dataHora').innerHTML = newDataHora;
                })
                .catch(error => console.log(error));
            }
          </script>

          <label style="margin-left: 30px">Equipamento</label>
          <div class="col-3">
            <select
              class="btn btn-info dropdown-toggle"
              aria-label="Equipamento"
              name="equipamento"
              onchange="mostrarSegundaLista(this)"
            >
              <option selected disabled>Selecione</option>
              <option value="1">CPU</option>
              <option value="2">Nobreak</option>
              <option value="3">Monitor</option>
              <option value="4">Impressora</option>
            </select>
          </div>

          <div id="segundaLista" style="display: none">
            <div class="col-3">
              <select
                class="btn btn-info dropdown-toggle"
                aria-label="Problema"
                name="segundaLista"
                onchange="mostrarTerceiraLista(this)"
              >
                <option selected disabled>Problema</option>
                <!-- Opções para a primeira opção da primeira lista -->
                <option value="1.1">Opção 1.1</option>
                <option value="1.2">Opção 1.2</option>
              </select>
            </div>
          </div>

          <div id="terceiraLista" style="display: none">
            <div class="col-3">
              <select
                class="btn btn-info dropdown-toggle"
                aria-label="Problema"
                name="terceiraLista"
              >
                <option selected disabled>Problema</option>
                <!-- Opções para a primeira opção da segunda lista -->
                <option value="1.1.1">Opção 1.1.1</option>
                <option value="1.1.2">Opção 1.1.2</option>
                <!-- Opções para a segunda opção da segunda lista -->
                <option value="1.2.1">Opção 1.2.1</option>
                <option value="1.2.2">Opção 1.2.2</option>
              </select>
            </div>
          </div>

          <script>
            function mostrarSegundaLista(selectElement) {
              var segundaLista = document.getElementById('segundaLista');
              var segundaListaSelect = segundaLista.querySelector('select');

              // Limpa a segunda lista suspensa
              segundaListaSelect.innerHTML =
                '<option selected disabled>Segunda Lista</option>';

              // Obtém o valor selecionado na primeira lista
              var equipamentoSelecionado = selectElement.value;

              if (equipamentoSelecionado === '1') {
                // Opções para a primeira opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="1.1">Hardware</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="1.2">Software</option>';
              } else if (equipamentoSelecionado === '2') {
                // Opções para a segunda opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="2.1">Fusível</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="2.2">Nobreak não liga</option>';
              } else if (equipamentoSelecionado === '3') {
                // Opções para a terceira opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="3.1">Fonte</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="3.2">Sem vídeo</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="3.3">Cabo VGA</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="3.4">Cabo de Força</option>';
              } else if (equipamentoSelecionado === '4') {
                // Opções para a quarta opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="4.1">Cilindro</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="4.2">Fusor</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="4.1">Rolete</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="4.1">Cabo de Força</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="4.1">Não liga</option>';
              }

              // Exibe a segunda lista suspensa
              segundaLista.style.display = 'block';

              // Oculta a terceira lista suspensa
              document.getElementById('terceiraLista').style.display = 'none';
            }

            function mostrarTerceiraLista(selectElement) {
              var terceiraLista = document.getElementById('terceiraLista');
              var terceiraListaSelect = terceiraLista.querySelector('select');

              // Limpa a terceira lista suspensa
              terceiraListaSelect.innerHTML =
                '<option selected disabled>Terceira Lista</option>';

              // Obtém o valor selecionado na segunda lista
              var segundaListaSelecionada = selectElement.value;

              if (segundaListaSelecionada === '1.1') {
                // Opções para a primeira opção da segunda lista
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.1">Placa Mãe</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.2">Processador</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.3">Memória</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.4">Fonte</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.5">HD</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.6">Limpeza Completa</option>';

                // Exibe a terceira lista suspensa
                terceiraLista.style.display = 'block';
              } else if (segundaListaSelecionada === '1.2') {
                // Opções para a segunda opção da segunda lista
                terceiraListaSelect.innerHTML +=
                  '<option value="1.2.1">Formatação</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.2.2">Instalação de Programa</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.2.1">Backup</option>';

                // Exibe a terceira lista suspensa
                terceiraLista.style.display = 'block';
              } else {
                // Oculta a terceira lista suspensa se uma opção diferente de 1.1 ou 1.2 for selecionada
                terceiraLista.style.display = 'none';
              }
            }
          </script>

          <label style="margin-left: 30px">Observações</label>
          <input
            type="text"
            placeholder="Observação..."
            class="form-control"
            name="observacao"
          />
          <!--Botao para enviar formulario-->
          <button class="btn btn-info">Enviar</button>
          <!--Fim do formulario-->
        </form>
      </div>
    </div>
  </div>
</body>
<!--caminho para achar o partials -->
<%- include('partials/footer.ejs') %>
