<!--caminho para achar o partials -->
<%- include('partials/hearder.ejs') %>
<body>
  <!--caminho para achar o partials -->
  <%- include('partials/navbar.ejs') %>
  <!--Titulo e inicio do formulario de entrada-->
  <div class="container">
    <div class="card" id="formulario-entrada">
      <div class="card-hearder">
        <h3 style="margin: 20px">Formulário de Entrada</h3>
      </div>
      <div class="card-body">
        <!--Inicio do formulario-->

        <form method="post" action="/salvarformulario">
          <label style="margin-left: 30px">Número do Chamado</label>
          <input
            type="text"
            placeholder="ID"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label style="margin-left: 30px">Hora do Chamado</label>
          <input
            type="text"
            placeholder="Hora do chamado"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label style="margin-left: 50px">Solicitante</label>
          <input
            type="text"
            placeholder="Nome do solicitante"
            class="form-control"
            name="solicitante"
            style="width: 500px"
          />

          <label style="margin-left: 30px">Técnico Atribuído</label>
          <input
            type="text"
            placeholder="Técnico atribuído"
            class="form-control"
            name="tecAtribuido"
            style="width: 500px"
          />
          <label style="margin-left: 30px">Técnico 2</label>
          <input
            type="text"
            placeholder="Técnico 2"
            class="form-control"
            name="tec2"
            style="width: 500px"
          />

          <label style="margin-left: 30px">Localização</label>
          <input
            type="text"
            placeholder="Setor"
            class="form-control"
            name="setor"
            style="width: 500px"
          />

          <label style="margin-left: 30px">GATI</label>
          <input
            type="text"
            placeholder="GATI do equipamento"
            class="form-control"
            name="gati"
          />

          <label style="margin-left: 30px">Fornecedor</label>
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="fornecedor"
              data-toggle="dropdown"
            >
              Selecione
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">HEGV</a>
              </li>
            </ul>
          </div>

          <%# <label style="margin-left: 30px">Data/Hora</label>
          <input class="datepicker" type="date" />
          <input type="time" />
          %>

          <label style="margin-left: 30px">Data/Hora Atual</label>

          <label style="margin-left: 30px">Problema</label>
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="fornecedor"
              data-toggle="dropdown"
            >
              Selecione
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">CPU</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Monitor</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Nobreak</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Impressora</a>
              </li>
            </ul>
          </div>

          <%# <% if(imgs.length > 0){ %> <% imgs.forEach(function(img) { %>
          <img src="uploads/<%=user.username%>/screenshots/<%= img %>" />
          <% }); %> <% } else{ %>
          <p>no photos uploaded</p>
          <% } %> %>
          <label style="margin-left: 30px">Observações</label>
          <textarea placeholder="Observações..." class="form-control"></textarea
          ><br />
          <!--Botao para enviar formulario-->
          <button class="btn btn-info">Enviar</button>
          <!--Fim do formulario-->
        </form>
      </div>
    </div>
  </div>
</body>
<!--caminho para achar o partials -->
<%- include('partials/footer.ejs') %>
