<!--caminho para achar o partials -->
<%- include('partials/hearder.ejs') %>
<body>
  <!--caminho para achar o partials -->
  <%- include('partials/navbar.ejs') %>
  <!--Titulo e inicio do formulario de entrada-->
  <div class="container">
    <div class="card" id="formulario-entrada">
      <div class="card-hearder">
        <h3 style="margin: 20px">Formulário de Entrada</h3>
      </div>
      <div class="card-body">
        <!--Inicio do formulario-->

        <form method="post" action="/salvarformulario">
          <label style="margin-left: 30px">Número do Chamado</label>
          <input
            type="text"
            placeholder="ID"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label style="margin-left: 30px">Hora do Chamado</label>
          <input
            type="text"
            placeholder="Hora do chamado"
            class="form-control"
            name="numChamado"
            style="width: 150px"
          />

          <label style="margin-left: 50px">Solicitante</label>
          <input
            type="text"
            placeholder="Nome do solicitante"
            class="form-control"
            name="solicitante"
            style="width: 500px"
          />

          <label style="margin-left: 30px">Técnico Atribuído</label>
          <input
            type="text"
            placeholder="Técnico atribuído"
            class="form-control"
            name="tecAtribuido"
            style="width: 500px"
          />
          <label style="margin-left: 30px">Técnico 2</label>
          <input
            type="text"
            placeholder="Técnico 2"
            class="form-control"
            name="tec2"
            style="width: 500px"
          />

          <label style="margin-left: 30px">Localização</label>
          <input
            type="text"
            placeholder="Setor"
            class="form-control"
            name="setor"
            style="width: 500px"
          />

          <label style="margin-left: 30px">GATI</label>
          <input
            type="text"
            placeholder="GATI do equipamento"
            class="form-control"
            name="gati"
          />

          <label style="margin-left: 30px">Fornecedor</label>
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="fornecedor"
              data-toggle="dropdown"
            >
              Selecione
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">HEGV</a>
              </li>
            </ul>
          </div>

          <button onclick="buscarDataHora()" class="btn btn-info">
            Data e Hora Atual
          </button>
          <p id="dataHora"><%= data %> <%= hora %></p>

          <script>
            function buscarDataHora() {
              fetch('/data-hora')
                .then(response => response.text())
                .then(html => {
                  const parser = new DOMParser();
                  const newDoc = parser.parseFromString(html, 'text/html');
                  const newDataHora =
                    newDoc.getElementById('dataHora').innerHTML;
                  document.getElementById('dataHora').innerHTML = newDataHora;
                })
                .catch(error => console.log(error));
            }
          </script>

          <div class="col-3">
            <select
              class="form-select"
              aria-label="Equipamento"
              name="equipamento"
              onchange="mostrarSegundaLista(this)"
            >
              <option selected disabled>Equipamento</option>
              <option value="1">CPU</option>
              <option value="2">Nobreak</option>
              <option value="3">Monitor</option>
              <option value="4">Impressora</option>
            </select>
          </div>

          <div id="segundaLista" style="display: none">
            <div class="col-3">
              <select
                class="form-select"
                aria-label="Segunda lista"
                name="segundaLista"
                onchange="mostrarTerceiraLista(this)"
              >
                <option selected disabled>Segunda Lista</option>
                <!-- Opções para a primeira opção da primeira lista -->
                <option value="1.1">Opção 1.1</option>
                <option value="1.2">Opção 1.2</option>
              </select>
            </div>
          </div>

          <div id="terceiraLista" style="display: none">
            <div class="col-3">
              <select
                class="form-select"
                aria-label="Terceira lista"
                name="terceiraLista"
              >
                <option selected disabled>Terceira Lista</option>
                <!-- Opções para a primeira opção da segunda lista -->
                <option value="1.1.1">Opção 1.1.1</option>
                <option value="1.1.2">Opção 1.1.2</option>
                <!-- Opções para a segunda opção da segunda lista -->
                <option value="1.2.1">Opção 1.2.1</option>
                <option value="1.2.2">Opção 1.2.2</option>
              </select>
            </div>
          </div>

          <script>
            function mostrarSegundaLista(selectElement) {
              var segundaLista = document.getElementById('segundaLista');
              var segundaListaSelect = segundaLista.querySelector('select');

              // Limpa a segunda lista suspensa
              segundaListaSelect.innerHTML =
                '<option selected disabled>Segunda Lista</option>';

              // Obtém o valor selecionado na primeira lista
              var equipamentoSelecionado = selectElement.value;

              if (equipamentoSelecionado === '1') {
                // Opções para a primeira opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="1.1">Opção 1.1</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="1.2">Opção 1.2</option>';
              } else if (equipamentoSelecionado === '2') {
                // Opções para a segunda opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="2.1">Opção 2.1</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="2.2">Opção 2.2</option>';
              } else if (equipamentoSelecionado === '3') {
                // Opções para a terceira opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="3.1">Opção 3.1</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="3.2">Opção 3.2</option>';
              } else if (equipamentoSelecionado === '4') {
                // Opções para a quarta opção da primeira lista
                segundaListaSelect.innerHTML +=
                  '<option value="4.1">Opção 4.1</option>';
                segundaListaSelect.innerHTML +=
                  '<option value="4.2">Opção 4.2</option>';
              }

              // Exibe a segunda lista suspensa
              segundaLista.style.display = 'block';

              // Oculta a terceira lista suspensa
              document.getElementById('terceiraLista').style.display = 'none';
            }

            function mostrarTerceiraLista(selectElement) {
              var terceiraLista = document.getElementById('terceiraLista');
              var terceiraListaSelect = terceiraLista.querySelector('select');

              // Limpa a terceira lista suspensa
              terceiraListaSelect.innerHTML =
                '<option selected disabled>Terceira Lista</option>';

              // Obtém o valor selecionado na segunda lista
              var segundaListaSelecionada = selectElement.value;

              if (segundaListaSelecionada === '1.1') {
                // Opções para a primeira opção da segunda lista
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.1">Opção 1.1.1</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.1.2">Opção 1.1.2</option>';

                // Exibe a terceira lista suspensa
                terceiraLista.style.display = 'block';
              } else if (segundaListaSelecionada === '1.2') {
                // Opções para a segunda opção da segunda lista
                terceiraListaSelect.innerHTML +=
                  '<option value="1.2.1">Opção 1.2.1</option>';
                terceiraListaSelect.innerHTML +=
                  '<option value="1.2.2">Opção 1.2.2</option>';

                // Exibe a terceira lista suspensa
                terceiraLista.style.display = 'block';
              } else {
                // Oculta a terceira lista suspensa se uma opção diferente de 1.1 ou 1.2 for selecionada
                terceiraLista.style.display = 'none';
              }
            }
          </script>

          <label style="margin-left: 30px">Observações</label>
          <input
            type="text"
            placeholder="Observação..."
            class="form-control"
            name="observacao"
          />
          <!--Botao para enviar formulario-->
          <button class="btn btn-info">Enviar</button>
          <!--Fim do formulario-->
        </form>
      </div>
    </div>
  </div>
</body>
<!--caminho para achar o partials -->
<%- include('partials/footer.ejs') %>
